
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Alata', sans-serif;
body {
    font-family: "Alata", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}


.thanh_dieu_huong {
    width: 100%;
    background-color: #2b2b2b;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.hop_chua {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff3333;
    margin-right: 2rem; 
}
.logo img {
    max-width: 70px;
    height: auto;
    cursor: pointer;
}
.thanh_dieu_huong nav a {
    margin: 0 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem; 
}
.thanh_tim_kiem {
    display: flex;
    align-items: center;
    margin-left: auto; 
}
.thanh_tim_kiem input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.nut_tim_kiem {
    padding: 0.5rem 1rem;
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nut_tim_kiem:hover {
    background-color: #cc0000;
}


.nav-buttons {
    display: flex;
    margin-left: 0.5rem; 
}

.nut_dang_nhap {
    padding: 0.5rem 1rem;
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nut_dang_nhap:hover {
    background-color: #cc0000;
}

.lua_chon {
    position: relative;
    display: inline-block;
}

.lua_chon-content {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    min-width: 180px; 
    width: 100%; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    max-height: 200px; 
    overflow-y: auto; 
}


.lua_chon:hover .lua_chon-content {
    display: block;
}


.lua_chon-content a {
    color: white;
    padding: 10px 15px; 
    text-decoration: none;
    display: block;
    margin: 5px 0; 
    border-radius: 5px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


.lua_chon-content::-webkit-scrollbar {
    width: 8px; 
}

.lua_chon-content::-webkit-scrollbar-track {
    background: transparent; 
}

.lua_chon-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    border: 2px solid transparent; 
    background-clip: content-box; 
}

.lua_chon-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}
}


.bang_thong_bao {
    max-width: 80%;
    margin: 0 auto; 
    padding: 1rem;
    background-color: #333;
    color: #ffcc00;
    text-align: center;
    font-size: 1.8rem; 
    line-height: 1.5; 
}
.bang_thong_bao a {
    color: #00e022;
    font-size: 1.8rem; 
}

.phim_moi_nhat {
    max-width: 80%;
    margin: 1rem auto;
    font-size: 1.5rem;
    text-align: left;
    color: rgb(32, 210, 0);
    margin-bottom: 1rem; 
    
}

.thanh_truot {
    overflow: hidden; 
    width: 100%;
    border: 2px solid #2b2b2b;
    background-color: #2b2b2b;
    padding: 1rem 0; 
    margin: 0.5rem auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    align-items: center;
}

.thanh_truot-content {
    display: flex;
    transition: transform 0.3s ease;
}

.muc_phim {
    display: inline-block;
    width: 180px;
    margin: 0 10px; 
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}

.muc_phim img {
    width: 100%;
    border-radius: 8px;
    max-height: 250px;
}

.muc_phim p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-top: 8px;
}
.muc_phim p:hover {
        color:#ffcc00
}
.so_tap {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff3333;
    color: white;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
    text-align: center;
    overflow: hidden;
    z-index: 1;
    line-height: 1; 
}

.hien_thi_danh_gia {
    position: absolute; 
    top: 15px; 
    left: 0px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: gold; 
    border-radius: 50%; 
    padding: 5px 8px; 
    font-size: 0.9rem; 
    text-align: center; 
    z-index: 1; 
    font-weight: bold;
}

.so_tap span {
    display: block; 
    font-weight: bold; 
}

.so_tap span:last-child {
    margin-top: 4px; 
}


.thanh_truot-nut_xem_them {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
    z-index: 1; 
}

.thanh_truot-nut_xem_them:hover {
    background-color: #ff3333;
}

.truoc_do {
    left: 0; 
    margin-left: 10px; 
}

.sau_do {
    right: 0; 
    margin-right: 10px; 
}


.thanh_phan_cach {
    width: 80%; 
    height: 2px; 
    background-color: #2b2b2b; 
    margin: 20px auto; 
}

.thanh_chuc_nang {
    display: flex;
    align-items: center; 
    margin-left: 9rem; 
}

.nut_dieu_huong {
    color: white; 
    text-decoration: none; 
    margin: 0 0.5rem; 
}
.nut_dieu_huong:hover {
    color: rgb(255, 213, 0); 
}
span {
    color: white; 
}

.bo_suu_tap_phim {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 20px auto; 
    max-width: 80%; 
    padding: 1rem; 
    background-color: #2b2b2b; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.muc_phim-wrapper {
    display: inline-block;
    width: 180px;
    margin: 0 5px; 
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}
.muc_phim-wrapper a:hover {
    color: #ffee00;
}

.muc_phim-wrapper img {
    width: 100%; 
    border-radius: 8px; 
}

.muc_phim-wrapper a {
    display: block; 
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    color: #fff; 
    text-decoration: none; 
    margin-top: 8px; 
    text-overflow: ellipsis; 
}
.sap_chieu {
    margin-left: 9.5rem; 
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #ff9999, #cc0000);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
    cursor: pointer;
}
.sap_chieu:hover {
    background: linear-gradient(to right, #ff6666, #990000);
}
.phim_sap_ra {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 20px auto; 
    max-width: 80%; 
    padding: 1rem; 
    background-color: #2b2b2b; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}
.muc_phim_sap_ra {
    display: inline-block;
    width: 180px;
    margin: 0 5px; 
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    margin-top: 8px;
}
.nut_phim_sap_ra {
    position: absolute;
    top: 15px;
    right: 1px;
    padding: 5px 10px;
    background: linear-gradient(to right, #ff6666, #cc0000);
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    z-index: 1;
}
.muc_phim_sap_ra img {
    width: 100%; 
    filter: brightness(0.6);
    border-radius: 8px; 
}

.muc_phim_sap_ra a {
    display: block; 
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    color: #fff; 
    text-decoration: none; 
    margin-top: 8px; 
    text-overflow: ellipsis; 
}
.muc_phim_sap_ra a:hover {
    color: #ffee00;
}
.thoi_gian_ra_mat {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}
.thanh_sap_chieu {
    bottom: 0;
    width: 100%;
    padding: 7px 0;
    background-color: #ff3333;
    color: #fff;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nut_xem_them {
    display: block;
    width: 80vw;
    max-width: 100%;
    padding: 10px 0;
    margin: 20px auto 0;
    background-color: #161e21;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu_ba_gach {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
    cursor: pointer;
}
.menu_ben {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
    scrollbar-width: thin; 
}

.menu_ben a {
    color: #fff;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.1rem;
}
.menu_ben .nut_dang_nhap-2 {
    background-color: #ff3333;
    font-size: 1rem;
    color: #fff;
    border: none;
    padding: 1rem 5rem;
    border-radius: 5px;
    cursor: pointer;
}

.menu_ben .nut_dong {
    font-size: 2rem;
    color: #ff3333;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}


.menu_ben.open {
    left: 0;
}

.menu_phu {
    display: none;
    flex-direction: column;
}
.menu_phu-row {
    display: flex;
    justify-content: space-between;
}


.menu_phu-row a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    flex: 1;
    text-align: left;
}
.menu_phu.open {
    display: flex;
}
@media (max-width: 1450px) {
    
    .thanh_dieu_huong nav {
        display: none;
    }
    .nav-buttons,
    .nut_dang_nhap {
    display: none !important;
    }
    .menu_ba_gach {
        display: block !important;
        position: absolute;
    }
    .logo img {
        left: 1rem;
        top: 0.3rem;
        position: absolute;
        height: auto !important;
    }
    .thanh_dieu_huong {
        padding: 0 1rem;
        background-color: #2b2b2b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }
    
    .bang_thong_bao {
        max-width: 95%;
        margin: 0 auto;
        line-height: 1.5;
    } 
    .phim_moi_nhat {
        max-width: 95%;
    }

    .thanh_chuc_nang {
        display: block;
        line-height: 2;
        max-width: 95%; 
        margin: 0 auto; 
    }
    .bo_suu_tap_phim {
        justify-content: space-evenly;
        max-width: 95%;
        margin: 0 auto;
    }
    .muc_phim-wrapper {
        width: 159px;
    }
    .phim_sap_ra {
        justify-content: space-evenly;
        max-width: 95%;
    }
    .muc_phim_sap_ra {
        width: 159px;
    }
    .sap_chieu {
        max-width: 95%; 
        margin-left: 0.5rem;
    }
}
